
body {
    background: linear-gradient(white, gray);
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

#title {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.flexWrap {
    display:flex;
    justify-content: center;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 420px;
    height: 420px;
    margin-right: 1rem;
    padding: 1rem;
}

.topui {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 420px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 1rem;
}


/*-------------------------------------------------*/

.UIheader {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    color: #666666;
}

.UIBox {
    display: flex;
    align-items: center;
}

#file {
    display: none;
}

#fileLabel{
    text-align: center;
    color: #666666;
    background-color: transparent;
    border: 1px solid #666666;
    padding: 0.5rem;
    width: 100%;
    border-radius: 2px;
}

#fileLabel:hover {
    background-color: rgba(0,0,0,0.1);
}

#invertCheck{
    display: none;
}

#invertCheck:checked + label{
    background-color: rgba(0,0,0,0.7);
}

#invertCheckLabel {
    border: 1px solid #666666;
    border-radius: 2px;
    padding: 0.4rem;
}

#file:focus {
    outline: none;
}

#file:active {
    outline: none;
}

#level {
    -webkit-appearance: none;
    appearance: none;
    background-color: #c7c7c7;;
    height: 2px;
    width: 100%;
}

#level::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 12px;
    height: 12px;
    display: block;
    background-color: #666666;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }

#level:focus {
    outline: none;
}

#level:active {
    outline: none;
}

.selectBox select {
    width: 100%;
    background: transparent;
    border: 1px solid #666666;
    color: #666666;
    border-radius: 2px;
    padding: 0.5rem;
}

.selectBox select:focus {
    outline: none;
}

.selectBox select:active {
    outline: none;
}
